<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加角色</title>

    <link href="css/bootstrap.min.css?v=3.3.6"
          th:href="@{/plugins/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet">
    <link href="/css/font-awesome.css?v=4.4.0"
          th:href="@{/plugins/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootdo/style.css}" href="/css/style.css?v=4.1.0"
          rel="stylesheet">
    <!--element-ui-->
    <link href="/plugins/element-ui/index.css" th:href="@{/plugins/element-ui/index.css}"
          rel="stylesheet">

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var contextpath = /*[[@{/}]]*/ '';
        //菜单ID
        var roleId = [[${roleId}]];
        /*]]>*/

    </script>
</head>
<body>
    <div id="formVue" class="modal-body container-fluid">
        <el-form :rules="rules" ref="formData" :model="formData" label-width="80px">
            <el-form-item label="角色名" prop="roleName">
                <el-input v-model="formData.roleName" placeholder="请输入角色名"></el-input>
            </el-form-item>
            <el-form-item label="备注" prop="remark">
                <el-input v-model="formData.remark" placeholder="请输入备注"></el-input>
            </el-form-item>

            <el-form-item label="权限" prop="pers">
                <el-tree
                        ref="menuTree"
                        :data="menuTreeData"
                        :default-expanded-keys="defaultExpandedKeys"
                        :default-checked-keys="checkMenuKeys"
                        show-checkbox
                        node-key="id"
                        :props="menuTreeProps"></el-tree>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="submitForm('formData')">保存</el-button>
                <el-button @click="resetForm('formData')">重置</el-button>
            </el-form-item>
        </el-form>

    </div>

    <!--jquery-->
    <script th:src="@{/plugins/jquery/2.1.4/jquery.min.js}" src="/js/jquery.min.js?v=2.1.4"></script>
    <!--vue-->
    <script th:src="@{/plugins/vue/2.5.17/js/vue.js}" src="/plugins/vue/2.5.16/js/vue.min.js"></script>
    <!--element-ui-->
    <script th:src="@{/plugins/element-ui/index.js}" src="/plugins/element-ui/index.js"></script>
    <script th:src="@{/plugins/layer/3.1.1/layer.js}" src="/js/plugins/layer/layer.js"></script>、
    <!--vue初始化类-->
    <script th:src="@{/js/vue/VueInit.js}" src="/js/vue/VueInit.js"></script>

    <!--rest工具类-->
    <script th:src="@{/js/util/RestUtil.js}" src="/js/util/RestUtil.js" ></script>
    <!--认证模块-->
    <script th:src="@{/js/auth/Auth.js}" src="/js/auth/Auth.js" ></script>

    <script th:src="@{/js/table/impl/ElementTableImpl.js}" src="/js/table/impl/ElementTableImpl.js"></script>

    <script th:src="@{/js/page/AddEditPage.js}" src="/js/page/AddEditPage.js"></script>
    <!--页面js-->
    <script th:src="@{/js/role/RoleAddEdit.js}" src="/js/role/RoleAddEdit.js"></script>
</body>
</html>