<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>clouddo - 404 页面</title>
    <link rel="shortcut icon" href="favicon.ico">

    <link th:href="@{/plugins/bootstrap/3.3.7/css/bootstrap.min.css}" href="/plugins/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/plugins/font-awesome/4.7.0/css/font-awesome.min.css}" href="/plugins/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link th:href="@{/plugins/animate/3.6.0/css/animate.min.css}" href="/plugins/animate/3.6.0/css/animate.min.css" rel="stylesheet">
    <link th:href="@{/css/bootdo/style.css}" rel="stylesheet">
</head>
<body>
    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">页面未找到！</h3>

        <div class="error-desc">
            抱歉，页面好像去火星了~
        </div>
    </div>

    <script th:src="@{/plugins/jquery/1.12.4/jquery.1.12.4.min.js}" src="/js/jquery.min.js?v=2.1.4"></script>
    <script th:src="@{/plugins/bootstrap/3.3.7/js/bootstrap.min.js}" src="/js/jquery.min.js?v=2.1.4"></script>
</body>
</html>